@import 'variables';

html {
  background-color: $background;
}

html,
body ,
#root {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  // @include flex-content(row, flex-start, flex-start);
}
